.article__name	{
	font: 700 30px "Source Sans Pro";
	color: #171817;
	margin: 0;
	padding: 0;
	margin: 5px 0px 5px 0px;
}

.article__date	{
	font: 400 13px "Source Sans Pro";
	color: #171817;
	margin: 0;
	padding: 0;
	margin: 5px 0px 5px 0px;
}

.article__tags	{
	clear: both;
	padding: 0;
	margin:0;
}

.article__tag	{
	font: 700 12px "Source Sans Pro";
	color: #171817;
	background-color: #eeeeee;
	margin-right: 10px; 
	list-style: none;
	width: auto;
	clear: both;
	padding: 2px 5px 2px 5px;
	border-radius: 3px;
}

.article__desc	{
	font: 400 15px "Source Sans Pro";
	color: #171817;
}

.article__readmore	{

}

.article__content	{
	font: 200 16px "Source Sans Pro";
	color:#171817;
}

.article__content p,li	{
	font: 400 17px "Source Sans Pro";
	color:#171817;
	line-height: 23px;
}

.article__content	code {
  background-color: #eeeeee;
  display: block;
  padding: 10px;
  font: 600 15px "Source Sans Pro";
  line-height: 22px;
}

.article__content hr {
	border: 1px solid #eeeeee;
}