*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body  {
  margin: 0;
  padding: 0;
  background-color: #f3f6f7;
}

.hidden {
  display: none;
}

@media screen and (max-width: 1030px)	{
	.swale-container{
		width: 100%;
		padding: 0;	
	}
}

.swale-app  {
  display: table;
  width: 100%;
  position: absolute;
  height: 100%;
}
  
.swale-app--side_bar  {
  display: table-cell;
  position: relative;
  vertical-align: top;
  padding-bottom: 49px;
  background: #191B1F;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 60px;
  z-index: 2;
}
  
.swale-app--content_wrapper {
  margin-top: -30px;
  vertical-align: top;
  margin-left: 60px;
  position: relative;
  background-color: #f3f6f7;
  z-index: 3;
  padding-bottom:50px;
}

.swale-app--container {
margin-top: 30px;
}