/** Listing **/
.swale-list {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  text-align: center;
  overflow: hidden;
  font-size: 0;
}

.swale-list--item {
  position: relative;
  display: inline-block;
}

/** Search Box **/
.swale-article_search {
  width: 30%;
  height: 30px;
  float: right;
  display:block;
  margin-bottom: 30px;
  margin-right: 40px;
  border: 0;
  border: 1px solid #e9eced;
  padding:0 1% 0 1%;
  font: 500 17px "Source Sans Pro";
  display: block;
}

/** Tile **/
.swale-tile {
  height: 470px;
  text-align: left;
  overflow: hidden;
  background-color: white;
  font-size: 16px;
  border: 1px solid #e9eced;
  margin-right: 10px;
  margin-bottom: .7em;
  color: #171817;
}

.swale-tile--small  {
  width: 280px;
}

.swale-tile--big {
  width: 560px;
  background-color: white;
}

.swale-tile--article_type {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  padding: .2em .6em .2em .6em;
  text-align: left;
  background-color: green;
  color: white;
  font-family: 'Source Sans Pro' Arial;
  font-size: .9em;
  font-weight: 100;
  background-color: white;
  display: none;
}

.swale-tile--article_link {
  text-decoration: none;
  color:#171817;
}

.swale-tile--article_link:hover {
  text-decoration: underline;
}

.swale-tile--article_js_type { background-color: #f39c12; }
.swale-tile--article_personal_type { background-color: #9b59b6; }
.swale-tile--article_ruby_type { background-color: #c0392b; }
    
.swale-tile--cover_image {
  width: 280px;
  height: 100px;
}

.swale-tile--cover_image_big {
  width: 560px;
  height: 350px;
}
  
.swale-tile--article_title  {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro';
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 1em;
  padding: 0 .6em 0em .6em;
  line-height: 1.125em;
}
  
.swale-tile--article--description {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro';
  font-size: 1.1em;
  line-height: 1.6em;
  font-weight: 400;
  padding: 1em;
}
  
.swale-tile--readmore_link  {
  text-decoration: none;
  color: #1f2228;
  font-family: 'Source Sans Pro';
  font-size: .9em;
  font-weight: 600;
  padding: 2%;
  float: left;
  cursor: pointer;
  letter-spacing: 2px;
  width: 96%;
  background-color: #f9f9f9;
  text-align: center;
  bottom: 12px;
  position: absolute;
  border-top: 1px solid #e9eced;
  height: 35px;
  padding-top: 6%;
}

.swale-tile--meta {
/*  margin: 0;
  padding: 0;*/
  font-size: .95em;
  padding: 0em 1em 0em 1em;
  font-weight: 300;
  color: #444544;
  font-family: 'Source Sans Pro';
}