/** Listing **/
.swale-list {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  text-align: center;
  overflow: hidden;
  font-size: 0;
}

.swale-list--item {
  position: relative;
  display: inline-block;
}

/** Search Box **/
.swale-article_search {
  width: 30%;
  height: 30px;
  border-radius: 30px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 50px;
  border: 0;
  border: 2px solid #dddddd;
  padding:0 1% 0 1%;
  font: 500 17px "Source Sans Pro";
  display: block;
}

/** Tile **/
.swale-tile {
  height: 470px;
  text-align: left;
  overflow: hidden;
  background-color: white;
  font-size: 16px;
  border-bottom: .1em solid #eeeeee;
  margin-bottom: 1em;
  color: #171817;
}

.swale-tile--small  {
  width: 280px;
}

.swale-tile--big {
  width: 560px;
  background-color: white;
}

.swale-tile--article_type {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  padding: .2em .6em .2em .6em;
  text-align: left;
  background-color: green;
  color: white;
  font-family: 'Droid Serif' Arial;
  font-size: .9em;
  font-weight: 100;
  background-color: white;
  display: none;
}

.swale-tile--article_link {
  text-decoration: none;
  color:#171817;
}

.swale-tile--article_link:hover {
  text-decoration: underline;
}

.swale-tile--article_js_type { background-color: #f39c12; }
.swale-tile--article_personal_type { background-color: #9b59b6; }
.swale-tile--article_ruby_type { background-color: #c0392b; }
    
.swale-tile--cover_image {
  width: 280px;
  height: 100px;
}

.swale-tile--cover_image_big {
  width: 560px;
  height: 350px;
  box-shadow: inset 0 0 10px #000000;
}
  
.swale-tile--article_title  {
  margin: 0;
  padding: 0;
  font-family: 'Droid Serif' Arial;
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 1em;
  padding: 0 .6em 0em .6em;
}
  
.swale-tile--article--description {
  margin: 0;
  padding: 0;
  font-family: 'Droid Serif' Arial;
  font-size: 1em;
  line-height: 1.6em;
  font-weight: 400;
  padding:1em;
}
  
.swale-tile--readmore_link  {
  text-decoration: underline;
  color: #2980b9;
  font-family: 'Droid Serif' Arial;
  font-size: 1em;
  font-weight: 700;
  padding: 1em;
  float: left;
  cursor: pointer;
}

.swale-tile--meta {
  margin: 0;
  padding: 0;
  font-size: 1em;
  padding: 0em 1em 0em 1em;
  font-weight: 300;
  color: #444544;
}